<mat-toolbar color="primary">
  <!-- BRAND -->
  <a
    routerLink="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>emoji_objects</mat-icon>
  </a>

  <span>Let's Quizzing</span>
  <span class="example-spacer"></span>

  <!-- home -->
  <a routerLink="/" mat-flat-button color="primary" class="m10">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>

  <!-- register -->
  <a
    *ngIf="!isLoggedIn"
    routerLink="register"
    mat-flat-button
    color="primary"
    class="m10"
  >
    <mat-icon>person_add</mat-icon>
    <span>Register</span>
  </a>

  <!-- login -->
  <a
    *ngIf="!isLoggedIn"
    routerLink="login"
    mat-flat-button
    color="primary"
    class="m10"
  >
    <mat-icon>login</mat-icon>
    <span>Log In</span>
  </a>

  <!-- username -->
  <a
    [routerLink]="getProfileRoute()"
    *ngIf="isLoggedIn && user"
    mat-flat-button
    color="primary"
    class="m10"
  >
    <mat-icon>account_circle</mat-icon>
    <span>{{ user.userName }}</span>
  </a>

  <!-- logout -->
  <!-- <a
    (click)="logout()"
    *ngIf="isLoggedIn"
    routerLink="login"
    mat-flat-button
    color="primary"
    class="m10"
  >
    <mat-icon>logout</mat-icon>
    <span>Log Out</span>
  </a> -->
</mat-toolbar>
