<mat-card class="profile-card mt20 mb20">
  <mat-card-header>
    <div mat-card-avatar class="avatar-container">
      <img
        src="../../../assets/default.png"
        alt="profile"
        class="avatar-image"
      />
    </div>
    <mat-card-title>Your profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-5 profile-image-section">
            <img src="../../../assets/default.png" alt="" class="profile_img" />
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
          </div>

          <div class="col-md-7 profile-details-section">
            <mat-card class="details-card">
              <div class="detail-item">
                <h3>ID:</h3>
                <p>{{ user.userID }}</p>
              </div>
              <div class="detail-item">
                <h3>Username:</h3>
                <p>{{ user.userName }}</p>
              </div>
              <div class="detail-item">
                <h3>Phone:</h3>
                <p>{{ user.phoneNumber }}</p>
              </div>
              <div class="detail-item">
                <h3>E-mail:</h3>
                <p>{{ user.email }}</p>
              </div>
              <div class="detail-item">
                <h3>Role(s):</h3>
                <ul>
                  <li *ngFor="let role of user.authorities">
                    {{ role.authority }}
                  </li>
                </ul>
              </div>
              <div class="detail-item">
                <h3>Status:</h3>
                <p>{{ user.enabled ? "ACTIVE" : "NOT ACTIVE" }}</p>
              </div>
            </mat-card>
          </div>
        </div>
        <div class="action-buttons">
          <button mat-flat-button color="primary" class="mr10">Update</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
