<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card class="box-shadow pl10 pr10 pt20 pb20 mt20 mb50">
          <div class="container text-center mb20">
            <img src="../../../assets/login.png" alt="Login" width="100px" />
          </div>
          <h1 class="text-center h1">Log In</h1>

          <!-- Disclaimer -->
          <div class="mt20">
            <small>
              <strong>Disclaimer:</strong> This is a sample project for
              demonstration purposes only.
              <span style="color: red"
                >Please do not enter any real or personal information.</span
              >
              No real data is collected, stored, or processed. By registering,
              you acknowledge that this is a mock platform and any data entered
              should be fictional.
            </small>
          </div>

          <!-- LogIn form -->
          <form class="mt20" (ngSubmit)="handleSubmit()">
            <!-- userName -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Username</mat-label>
              <input
                [(ngModel)]="loginData.userName"
                name="userName"
                matInput
                placeholder=""
                required
              />
            </mat-form-field>

            <!-- password -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Password</mat-label>
              <input
                [(ngModel)]="loginData.password"
                name="password"
                type="password"
                matInput
                placeholder=""
                required
                autocomplete="off"
              />
            </mat-form-field>
            <div class="container text-center mt20">
              <button type="submit" mat-raised-button color="primary">
                Log In
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
