<div class="bootstrap-wrapper">
  <div class="container-fluid p-0">
    <section
      class="hero-section text-white text-center d-flex justify-content-center align-items-center"
    >
      <div class="hero-content w-100">
        <h1 class="display-4">Experience a new era of digital learning</h1>
        <p class="lead">
          Dive into the ultimate quizzing experience! Whether you're a coding
          aficionado, a trivia enthusiast, or someone with a thirst for
          knowledge, we've got the perfect challenge for you. Join a global
          community of learners and test your mettle on an array of fascinating
          topics.
        </p>
        <p class="mb-4 h3">
          <span>🚀</span> Ready to level up your knowledge? Let's get quizzing!
        </p>
        <button
          mat-flat-button
          color="primary"
          class="btn btn-light btn-lg"
          routerLink="register"
        >
          Register now
        </button>
      </div>
    </section>
  </div>
</div>
